<div class="m-3">
  <!-- Categories Section -->
  <div class="text-center">
    <button
      *ngFor="let category of categories"
      mat-fab
      extended
      color="primary"
      class="m-1 category-button"
      (click)="searchByCategory(category)"
    >
      {{ category }}
    </button>
  </div>
  <!-- Categories Section -->

  <!-- Products Section -->
  <div class="m-3 text-center">
    <mat-card class="inline-block m-3" *ngFor="let product of products">
      <mat-card-header>
        <mat-card-title [matTooltip]="product.title"
          >{{ product.title | slice : 0 : 20 }}...</mat-card-title
        >
        <mat-card-subtitle>{{ product.price }} $</mat-card-subtitle>
      </mat-card-header>
      <div class="text-center">
        <img
          class="mt-2 mb-2"
          mat-card-image
          width="200px"
          height="200px"
          [src]="product.image"
          alt="Photo of product"
        />
      </div>
      <mat-card-content>
        <p [matTooltip]="product.description">
          {{ product.description | slice : 0 : 40 }}...
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <!-- Products Section -->
</div>
