<form [formGroup]="form">
  <div mat-dialog-title *ngIf="!data">{{ "PRODUCT.ADD" | translate }}</div>
  <div mat-dialog-title *ngIf="data">
    {{ "PRODUCT.EDIT_PRODUCT" | translate }}
  </div>
  <mat-dialog-content>
    <label for="title">{{ "PRODUCT.TITLE" | translate }}</label>
    <input
      type="text"
      class="form-control"
      [placeholder]="'PRODUCT.TITLE' | translate"
      formControlName="title"
    />
    <label for="price">{{ "PRODUCT.PRICE" | translate }}</label>
    <input
      type="number"
      class="form-control"
      [placeholder]="'PRODUCT.PRICE' | translate"
      formControlName="price"
    />
    <label for="category">{{ "PRODUCT.CATEGORY" | translate }}</label>
    <select
      class="form-select"
      formControlName="category"
      aria-label="Default select example"
    >
      <option selected>{{ "PRODUCT.SELECT_CATEGORY" | translate }}</option>
      <option *ngFor="let category of categories">{{ category }}</option>
    </select>
    <label for="description">{{ "PRODUCT.DESCRIPTION" | translate }}</label>
    <textarea
      type="text"
      rows="4"
      class="form-control"
      [placeholder]="'PRODUCT.DESCRIPTION' | translate"
      formControlName="description"
    ></textarea>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button
      mat-raised-button
      color="primary"
      *ngIf="!data"
      (click)="addProduct()"
    >
      {{ "PRODUCT.SAVE" | translate }}
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="data"
      (click)="editProduct()"
    >
      {{ "PRODUCT.SAVE" | translate }}
    </button>
    <button mat-raised-button color="warn" (click)="close()">
      {{ "PRODUCT.CLOSE" | translate }}
    </button>
  </mat-dialog-actions>
</form>
