<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">
        {{ "LAYOUT.HEADER" | translate }}
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <div class="align-items-end m-2">
            <button
              mat-stroked-button
              color="Primary"
              (click)="changeLanguage()"
            >
              <span>{{ currentLang === "ar" ? "English" : "عربي" }}</span>
            </button>
          </div>
        </ul>

        <button class="btn btn-secondary" type="button" (click)="logout()">
          {{ "LAYOUT.LOGOUT" | translate }}
        </button>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
